@model List<TaskManagement.Models.Subtask>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>Subtasks List</h1>
<div class="container">
    <div class="row pt-4 pb-3">
    </div>
    <table class="table table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subtask in Model)
            {
                <tr>
                    <td>@subtask.Id</td>
                    <td>@subtask.Name</td>
                    <td>@subtask.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

